
# Database Configuration
DATABASE_URL=
DATABASE_SCHEMA=
DATABASE_SSL=true

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Scraper Configuration (CapSolver & Proxies)
CAPSOLVER_API_KEY=
RECAPTCHA_SITE_KEY=
TARGET_URL=https://wsp.registraduria.gov.co/censo/consultar/

# DataImpulse Proxy
PROXY_HOST=
PROXY_PORT=
PROXY_USER=
PROXY_PASS=
